.header-title {
    text-transform: uppercase;
    text-decoration: none;
    color: #434343;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 30px;
    margin: 0.5em;
    font-weight: 500;
}